extends ../templates/main.pug

append stylesheets
  link(rel="stylesheet", href="/css/product.css")

block content
  main
    if prods.length > 0
      .grid
        for p of prods
          article.card.product-item
            header.card__header
              h1.product__title= p.title
            .card__image
              img(src=p.imageUrl, alt=p.title)
            .card__content
              h2.product__price= Number(p.price).toLocaleString()
              p.product__description= p.description
            .card__actions
              a.btn(href="/products/" + p.id) Details
              form(action="/cart", method="post")
                input(type="hidden", name="id", value=p.id)
                button.btn(type="submit") Add to Cart
    else
      h1 No Products Found!
